.b-statistics
	position relative
	width 100%
	height 852px /* 752px */
	margin-top -150px
	background url('../img/about_bg.jpg') center no-repeat
	background-size 100% 100%
	&__wrap
		position relative
		min-width 980px
		max-width 1500px
		height 100%
		margin 0 auto
	&__hint
		position absolute
		width 668px
		height 202px
		top 280px
		left 170px
		padding 31px
		text-transform uppercase
		line-height 35px
		font-size 24px
		color #fff
		background url('../img/about_statistics_bg.png') center no-repeat
		background-size 100% 100%
	&__hint2
		position absolute
		width 38%
		height 202px
		top 380px
		right 0
		line-height 28px
		font-size 20px
		color #fff
	&__block
		position absolute
		bottom 50px
		left 50px
		width 545px
		color #fff
		clearfix()
		&__leftSide
			float left
		&__rightSide
			float right
			& div:last-child
				width: 170px;
				text-align: right;
		& div
			font-size 30px
		& div span
			font-size 71px
	&__text
		font-size 15px !important

.b-partners
	position relative
	width 100%
	height 640px
	background #fff
	overflow hidden
	&__header
		margin 80px auto
		text-align center
		font-size 48px
		color #1a1a18
	&__text
		max-width 1185px
		margin 90px auto 0
		text-align center
		font-size 24px
		color #6e6e6e

.b-partners-owl-carousel
	&__item
		position relative
		margin 0 10px
		height 90px
		text-align center
		& img
			display block
			width auto
			height auto
			max-height 100px
			transform translateY(-50%)
			margin 23% auto 0
		& p
			bottom 5px
			position absolute
			text-align center
			width 100%
	.owl-buttons i
		line-height 40px
		font-size 25px
		color #33b1e8

	.owl-controls .owl-buttons div
		position absolute
		top 23%
		border-radius 40px
		width 40px
		height 40px
		padding 0
		background #fff
		border 1px solid #33b1e8
	.owl-controls .owl-buttons .owl-prev
		left 0
	.owl-controls .owl-buttons .owl-next
		right 0


.b-licenses
	position relative
	width 100%
	height 1010px
	background url('../img/licenses_bg.png') center no-repeat
	background-size 100% 100%
	overflow hidden
	&__header
		margin 162px auto 70px
		text-align center
		font-size 48px
		color #1a1a18
	&__menu
		width 847px
		margin auto
		& ul
			list-style none
			& li
				display inline-block
				margin 0 30px 33px 0
				& a
					font-size 23px
					color #008ad1
	&__text
		max-width 752px
		margin 90px auto 0
		text-align center
		font-size 24px
		color #6e6e6e
		& span
			font-weight bold
			color #1a1a18

.b-licenses-owl-carousel
	&__item
		position relative
		margin 0 10px
		height 90px
		text-align center
		& img
			display block
			width auto
			height auto
			max-height 100px
			transform translateY(-50%)
			margin 23% auto 0
	.owl-buttons i
		line-height 40px
		font-size 25px
		color #33b1e8

	.owl-controls .owl-buttons div
		position absolute
		top 23%
		border-radius 40px
		width 40px
		height 40px
		padding 0
		background #fff
		border 1px solid #33b1e8
	.owl-controls .owl-buttons .owl-prev
		left 0
	.owl-controls .owl-buttons .owl-next
		right 0

.b-vacancies
	&__header
		position relative
		text-align center
		&__text
			margin 97px auto 0
			font-weight bold
			font-size 48px
			color #1a1a18
		&__text2
			max-width 1118px
			margin 68px auto
			font-size 33px
			color #6e6e6e
		&::after
			content " "
			position absolute
			bottom -112px
			left 49%
			width 83px
			height 45px
			z-index 1
			background url('../img/triangel.png') center no-repeat
			background-size 100% 100%
	&__content
		position relative
		width 100%
		height 687px
		margin auto
		background url('../img/vacancies_bg.jpg') center no-repeat
		background-size 100% 100%
		overflow hidden
		&__wrap
			position relative
			width 1400px
			height 439px
			margin auto
			clearfix()
			& > div
				width 700px
				height 439px
				margin 135px auto
				float left
				font-size 20px
		&__left
			padding 52px 98px
			background rgba(5, 38, 61, .7)
			color #fff
			&__header
				margin-bottom 35px
				text-transform uppercase
			&__text
				line-height 36px
				& span
					color #009de2
		&__right
			padding 52px 114px
			background rgba(255, 255, 255, .9)
			&__header
				margin-bottom 30px
				text-transform uppercase
				color #6e6e6e
			&__text
				& a
					line-height 30px
					color #008ad1
	&__texts
		position relative
		overflow hidden
		background #F5F5F5
	&__text
		max-width 1222px
		margin 67px auto
		line-height 36px
		font-size 24px
		color #6e6e6e
		& a
			color #008ad1;

.b-contacts
	&__header
		width 100%
		height 222px
		line-height 222px
		text-align center
		font-size 48px
		color #1a1a18
	&__wrap
		position relative
		width 100%
		height 403px
		& > div
			width 50%
			height 403px
			float: left
			padding 91px 208px
			clearfix()
	&__left
		background #F5F5F5
		line-height 26px
		font-size 20px
		color #1a1a18
		&__header
			text-transform uppercase
			font-size 24px
		&__text
			font-size 24px
		&__text2,
		&__text3,
		&__text4
			color #6e6e6e
		&__text,
		&__text2,
		&__text4
			margin-bottom 41px
	&__right
		background url('../img/contacts_bg.jpg') center no-repeat
		background-size 100% 100%
		line-height 26px
		font-size 20px
		color #fff
		&__header
			text-transform uppercase
			font-size 24px
		&__text
			font-size 24px
		&__text,
		&__text2,
		&__text4
			margin-bottom 41px

.b-map
	width 100%
	height 595px
	& > ymaps
		width 100% !important

