.b-clients
	position relative
	min-width 980px
	max-width 1500px
	height auto
	min-height 638px
	margin 0 auto
	&__text
		margin 60px auto
		font-size 20px
		line-height 40px
		text-align center
		text-transform uppercase
		color #6e6e6e
	&__name
		position relative
		width 340px
		margin 25px auto
		text-align center
		& a
			line-height 33px
			font-size 27px
			color #00953f
	&__review
		position relative
		width 240px
		height 47px
		margin 40px auto
		border 1px solid #009de2
		line-height 47px
		text-align center
		font-size 21px
		color #009de2
		&:hover
			cursor pointer
			opacity .7

.b-clients-owl-carousel
	&__item
		position relative
		margin 0 10px
		& img
			display block
			width auto
			height auto
			max-height 100px
			transform translateY(-50%)
			margin 23% auto 0
	.owl-buttons i
		line-height 40px
		font-size 25px
		color #33b1e8

	.owl-controls .owl-buttons div
		position absolute
		top 23%
		border-radius 40px
		width 40px
		height 40px
		padding 0
		background #fff
		border 1px solid #33b1e8
	.owl-controls .owl-buttons .owl-prev
		left 0
	.owl-controls .owl-buttons .owl-next
		right 0
