.b-home-page
	background url('../img/bg_slider1.jpg') center no-repeat
	background-size 100% 100%

.b-slider-content
	display none
	position absolute
	left 21%
	bottom 130px
	width 635px
	height 235px
	background url('../img/slider_content_bg.png') center no-repeat
	background-size 100% 100%
	color #fff
	&__wrapper
		position relative
		top: -150px;
		min-width 980px
		max-width 1500px
		height 100%
		margin 0 auto
	&:first-child
		display block
	&__header
		padding 35px 30px 0
		font-size 51px
	&__text
		padding 20px 30px
		font-size 21px

.b-slider-navbar
	position absolute
	left 47%
	bottom 10px
	&__item
		display inline-block
		width 15px
		height 15px
		margin 10px
		background url('../img/slider_navbar_item.png') center no-repeat
		background-size 100% 100%
		&:hover
			cursor pointer
			opacity .7
			background url('../img/slider_navbar_item_selected.png') center no-repeat
			background-size 100% 100%
		&__selected
			background url('../img/slider_navbar_item_selected.png') center no-repeat
			background-size 100% 100%

.b-slider-controls
	position absolute
	top 47%
	right 50px
	&__item
		display inline-block
		width 50px
		height 50px
		&:hover
			cursor pointer
			opacity .7
	&__left
		margin-right 10px
		background url('../img/slider_control_left.png') center no-repeat
		background-size 100% 100%
	&__right
		background url('../img/slider_control_right.png') center no-repeat
		background-size 100% 100%

.b-contact-info
	position absolute
	right 70px
	bottom 70px

	&__tel
		font-size 33px
		& a
		& a:link
		& a:visited
		& a:hover
		& a:active
			text-decoration none
			color #fff
	&__text
		text-decoration underline
		font-size 20px
		color #fff
