.b-statistics
	.b-statistics__wrap
		.b-statistics__hint
			| Сайт рыбатекст поможет дизайнеру,
			| верстальщику, вебмастеру сгенерировать
			| несколько абзацев более менее осмысленного
			| текста рыбы на русском языке Текст генерируется

		.b-statistics__block
			.b-statistics__block__leftSide
				.b-statistics__header
					span &gt;100
					|  человек
				.b-statistics__text Штатная численность компании
			.b-statistics__block__rightSide
				.b-statistics__header
					span 1,1
					|  млрд. руб.
				.b-statistics__text Оборот компании за 2013-2014 годы

		.b-statistics__hint2
			| С другой стороны укрепление и развитие структуры требуют от нас анализа направлений
			| прогрессивного развития. Идейные соображения высшего порядка, а также новая модель организационной
			| деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует
			| насущным потребностям. Таким образом укрепление и развитие структуры способствует подготовки и реализации

.b-partners
	.b-partners__header Партнеры
	.b-partners__slider
	.b-partners-owl-carousel.js-partners-owl-carousel
		.b-partners-owl-carousel__item
			img(src="assets/img/partner_logo1.jpg" alt="Partner logo")
			p IBM
		.b-partners-owl-carousel__item
			img(src="assets/img/partner_logo2.jpg" alt="Partner logo")
			p Siemens
		.b-partners-owl-carousel__item
			img(src="assets/img/partner_logo3.jpg" alt="Partner logo")
			p Cisco Systems
		.b-partners-owl-carousel__item
			img(src="assets/img/partner_logo4.jpg" alt="Partner logo")
			p Avaya
		.b-partners-owl-carousel__item
			img(src="assets/img/partner_logo5.jpg" alt="Partner logo")
			p Schnelder Electric
		.b-partners-owl-carousel__item
			img(src="assets/img/partner_logo1.jpg" alt="Partner logo")
			p IBM
	.b-partners__text
		| Таким образом укрепление и развитие структуры способствует подготовки и реализации новых
		| предложений. Таким образом рамки и место обучения кадров играет важную роль в формировании
		| соответствующий условий активизации. Не следует, однако забывать, что дальнейшее развитие
		| различных форм деятельности способствует подготовки и реализации модели развития.

.b-licenses
	.b-licenses__header ЛИЦЕНЗИИ И СЕРТИФИКАТЫ
	.b-licenses__menu
		ul
			li
				a(href="#") Лецензии ФСТЖ России
			li
				a(href="#") Лецензии Роскомнадзора
			li
				a(href="#") Сертификаты и свидетельсва
			li
				a(href="#") Лецензии МЧС России
			li
				a(href="#") Лецензии Министерства културы РФ
			li
				a(href="#") Лецензии ФСБ России
	.b-licenses-owl-carousel.js-licenses-owl-carousel
		.b-licenses-owl-carousel__item
			img(src="assets/img/license1.jpg" alt="License")
		.b-licenses-owl-carousel__item
			img(src="assets/img/license2.jpg" alt="License")
		.b-licenses-owl-carousel__item
			img(src="assets/img/license3.jpg" alt="License")
		.b-licenses-owl-carousel__item
			img(src="assets/img/license4.jpg" alt="License")
		.b-licenses-owl-carousel__item
			img(src="assets/img/license5.jpg" alt="License")
		.b-licenses-owl-carousel__item
			img(src="assets/img/license1.jpg" alt="License")
	.b-licenses__text
		span Лицензия ФСТЭК России &#8470;1058
		|  от 07 ноября 2012 г. на детятельность
		| по разработке и производству защиты конфиденциальной информации

.b-vacancies
	.b-vacancies__header
		.b-vacancies__header__text ВАКАНСИИ
		.b-vacancies__header__text2
			| Если вы позитивно воспринимаете окружающий мир, ориентированы на развитие и
			| самореализацию, настроены на долгосрочное сотрудничество, то нам по пути!
	.b-vacancies__content
		.b-vacancies__content__wrap
			.b-vacancies__content__left
				.b-vacancies__content__left__header Мы предлагаем нашим сотрудникам:
				.b-vacancies__content__left__text
					span -
					|  Таким образом рамки и место обучения кадров играет важную роль в формировании соответствующий
				.b-vacancies__content__left__text
					span -
					| Таким образом рамки и место обучения
				.b-vacancies__content__left__text
					span -
					|  Таким образом укрепление и развитие структуры способствует  что дальнейшее развитие
					|  различных форм деятельности способствует подготовки и реализации модели.
				.b-vacancies__content__left__text
					span -
					|  Различных форм деятельности способствует подготовки
			.b-vacancies__content__right
				.b-vacancies__content__right__header Открытые вакансии
				.b-vacancies__content__right__text
					a(href="#") Таким образом рамки и место обучения
				.b-vacancies__content__right__text
					a(href="#") Таким образом рамки и место обучения
				.b-vacancies__content__right__text
					a(href="#") Таким образом рамки и место обучения
	.b-vacancies__texts
		.b-vacancies__text
			| С другой стороны укрепление и развитие структуры требуют от нас анализа направлений прогрессивного развития.
			| Идейные соображения высшего порядка, а также новая модель организационной деятельности влечет за собой процесс внедрения
			| и модернизации системы обучения кадров, соответствует насущным потребностям.  Разнообразный и богатый опыт реализация
		.b-vacancies__text
			| С другой стороны укрепление и развитие структуры
			| &nbsp;
			a(href="mailto:halipova@inn-pro.ru") halipova@inn-pro.ru
			|  от нас анализа направлений прогрессивного развития.

.b-contacts
	.b-contacts__header КОНТАКТНАЯ ИНФОРМАЦИЯ
	.b-contacts__wrap
		.b-contacts__left
			.b-contacts__left__header Центральный офис
			.b-contacts__left__text г. Москва
			.b-contacts__left__header2 Юридический адрес:
			.b-contacts__left__text2 125438, г. Москва, ул. Михалковская, д.63Б, стр. 2
			.b-contacts__left__header3 Почтовый адрес:
			.b-contacts__left__text3 107113, Москва, ул. Шумкина, дом 20, стр. 1
			.b-contacts__left__text4 Тел.: +7 (495) 642-33-60
		.b-contacts__right
			.b-contacts__right__header Центральный офис
			.b-contacts__right__text г. Москва
			.b-contacts__right__header2 Юридический адрес:
			.b-contacts__right__text2 125438, г. Москва, ул. Михалковская, д.63Б, стр. 2
			.b-contacts__right__header3 Почтовый адрес:
			.b-contacts__right__text3 107113, Москва, ул. Шумкина, дом 20, стр. 1
			.b-contacts__right__text3 Тел.: +7 (495) 642-33-60
.b-map
	script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=3l-hN9HAqGo0l1ZhEf37RImngDDbQjtb&width=600&height=595")
