.b-clients
	.b-clients__text
		| На сегодняшний день заказчиками компании являются государственные структуры,
		br
		| а также крупнейшие российкие предприятия и корпорации

	.b-clients-owl-carousel.js-clients-owl-carousel
		.b-clients-owl-carousel__item
			img(src="assets/img/client_logo1.png" alt="Client logo")
		.b-clients-owl-carousel__item
			img(src="assets/img/client_logo2.gif" alt="Client logo")
		.b-clients-owl-carousel__item
			img(src="assets/img/client_logo3.jpg" alt="Client logo")
		.b-clients-owl-carousel__item
			img(src="assets/img/client_logo4.jpg" alt="Client logo")
		.b-clients-owl-carousel__item
			img(src="assets/img/client_logo5.jpeg" alt="Client logo")
		.b-clients-owl-carousel__item
			img(src="assets/img/client_logo6.png" alt="Client logo")

	.b-clients__name
		a(href="#") УФСБ РФ по Санкт-Петербургу и Ленинградской области

	.b-clients__review.js-open-review Отзывы заказчика
