.b-clients
	.b-clients__text
		| На сегодняшний день заказчиками компании являются государственные структуры,
		br
		| а также крупнейшие российкие предприятия и корпорации

	.b-clients-owl-carousel.js-clients-owl-carousel
		.b-clients-owl-carousel__item.grayfilter(data-name="Министерство обороны РФ" data-url="http://mil.ru/" data-review="http://farm8.staticflickr.com/7367/16426879675_e32ac817a8_b.jpg;http://farm6.staticflickr.com/5612/15344856989_449794889d_b.jpg")
			img(src="assets/img/client_logo1.png" alt="Client logo")
		.b-clients-owl-carousel__item.grayfilter(data-name='OОО «Ханкитек СПб»' data-url="http://www.hankitek.ru/")
			img(src="assets/img/client_logo2.gif" alt="Client logo")
		.b-clients-owl-carousel__item.grayfilter(data-name="ООО «АсконСтрой»" data-url="http://xn--80ascmebnedk.xn--p1ai/")
			img(src="assets/img/client_logo3.jpg" alt="Client logo")
		.b-clients-owl-carousel__item.grayfilter(data-name="УФСБ РФ по Санкт-Петербургу и Ленинградской области" data-url="http://www.fsb.ru/")
			img(src="assets/img/client_logo4.jpg" alt="Client logo")
		.b-clients-owl-carousel__item.grayfilter(data-name="ОАО «Главное управление обустройства войск»" data-url="http://www.yovmo.ru/")
			img(src="assets/img/client_logo5.jpeg" alt="Client logo")
		.b-clients-owl-carousel__item.grayfilter(data-name="Фонд капитального ремонта" data-url="http://fkr-spb.ru/")
			img(src="assets/img/client_logo6.png" alt="Client logo")

	.b-clients__name
		a(href="#"  target="_blank") УФСБ РФ по Санкт-Петербургу и Ленинградской области

	.b-clients__review.js-open-review
		a.fancybox(href="#") Отзывы заказчика
