.b-statistics
	.b-statistics__wrap
		.b-statistics__hint
			| Сайт рыбатекст поможет дизайнеру,
			| верстальщику, вебмастеру сгенерировать
			| несколько абзацев более менее осмысленного
			| текста рыбы на русском языке Текст генерируется

		.b-statistics__block2
			| С другой стороны укрепление и развитие структуры
			| прогрессивного развития. Идейные соображения высшего
			| деятельности влечет за собой

		.b-statistics__hint2
			| С другой стороны укрепление и развитие структуры требуют от нас анализа направлений
			| прогрессивного развития. Идейные соображения высшего порядка, а также новая модель организационной
			| деятельности влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует
			| насущным потребностям. Таким образом укрепление и развитие структуры способствует подготовки и реализации

.b-competence-hint.b-telecommunications
	.b-competence-hint__header Телекоммуникации и связь
	.b-competence-hint__text
		| С другой стороны укрепление и развитие структуры требуют от нас анализа
		| прогрессивного развития. Идейные соображения высшего порядка, а также новая
		| деятельности влечет за собой процесс внедрения и модернизации системы обучения
		| насущным потребностям. Таким образом укрепление и развитие структуры способствует

.b-competence-block.b-telecommunications
	.b-competence-block__content
		.b-competence-block__header Компетенции
		.b-competence-block__text
			span -
			|  С другой стороны укрепление
		.b-competence-block__text
			span -
			|  Развитие структуры требуют
		.b-competence-block__text
			span -
			|  От нас анализа
		.b-competence-block__text
			span -
			|  Идейные соображения высшего
		.b-competence-block__text
			span -
			|  Таким образом укрепление

.b-competence-hint.b-power-supply
	.b-competence-hint__header Электроснабжение
	.b-competence-hint__text
		| С другой стороны укрепление и развитие структуры требуют от нас анализа
		| прогрессивного развития. Идейные соображения высшего порядка, а также новая
		| деятельности влечет за собой процесс внедрения и модернизации системы обучения
		| насущным потребностям. Таким образом укрепление и развитие структуры способствует

.b-competence-block.b-power-supply
	.b-competence-block__content
		.b-competence-block__header Компетенции
		.b-competence-block__text
			span -
			|  С другой стороны укрепление
		.b-competence-block__text
			span -
			|  Развитие структуры требуют
		.b-competence-block__text
			span -
			|  От нас анализа
		.b-competence-block__text
			span -
			|  Идейные соображения высшего
		.b-competence-block__text
			span -
			|  Таким образом укрепление


.b-competence-hint.b-security
	.b-competence-hint__header Безопасность
	.b-competence-hint__text
		| С другой стороны укрепление и развитие структуры требуют от нас анализа
		| прогрессивного развития. Идейные соображения высшего порядка, а также новая
		| деятельности влечет за собой процесс внедрения и модернизации системы обучения
		| насущным потребностям. Таким образом укрепление и развитие структуры способствует

.b-competence-block.b-security
	.b-competence-block__content
		.b-competence-block__header Компетенции
		.b-competence-block__text
			span -
			|  С другой стороны укрепление
		.b-competence-block__text
			span -
			|  Развитие структуры требуют
		.b-competence-block__text
			span -
			|  От нас анализа
		.b-competence-block__text
			span -
			|  Идейные соображения высшего
		.b-competence-block__text
			span -
			|  Таким образом укрепление


.b-competence-hint.b-ventilation
	.b-competence-hint__header Вентиляция и кондиционирование, водоснабжение и водоотведение
	.b-competence-hint__text
		| С другой стороны укрепление и развитие структуры требуют от нас анализа
		| прогрессивного развития. Идейные соображения высшего порядка, а также новая
		| деятельности влечет за собой процесс внедрения и модернизации системы обучения
		| насущным потребностям. Таким образом укрепление и развитие структуры способствует

.b-competence-block.b-ventilation
	.b-competence-block__content
		.b-competence-block__header Компетенции
		.b-competence-block__text
			span -
			|  С другой стороны укрепление
		.b-competence-block__text
			span -
			|  Развитие структуры требуют
		.b-competence-block__text
			span -
			|  От нас анализа
		.b-competence-block__text
			span -
			|  Идейные соображения высшего
		.b-competence-block__text
			span -
			|  Таким образом укрепление


.b-competence-hint.b-automation
	.b-competence-hint__header Диспетчеризация и автоматизация
	.b-competence-hint__text
		| С другой стороны укрепление и развитие структуры требуют от нас анализа
		| прогрессивного развития. Идейные соображения высшего порядка, а также новая
		| деятельности влечет за собой процесс внедрения и модернизации системы обучения
		| насущным потребностям. Таким образом укрепление и развитие структуры способствует

.b-competence-block.b-automation
	.b-competence-block__content
		.b-competence-block__header Компетенции
		.b-competence-block__text
			span -
			|  С другой стороны укрепление
		.b-competence-block__text
			span -
			|  Развитие структуры требуют
		.b-competence-block__text
			span -
			|  От нас анализа
		.b-competence-block__text
			span -
			|  Идейные соображения высшего
		.b-competence-block__text
			span -
			|  Таким образом укрепление
