.b-slider-content__wrapper
	.b-slider-content.js-slider-content
		.b-slider-content__header Проектирование
		.b-slider-content__text
			| Специалисты компании «Ин-Про» выполняют работы по
			| проектированию ИТ-инфраструктуры, используя комплексный
			| подход, позволяющий создать единую уникальную систему
			| интелектуального здания
		input(type="hidden" value="1")
	.b-slider-content.js-slider-content
		.b-slider-content__header Строительство
		.b-slider-content__text
			| Компания «Ин-Про» выполняет весь комплекс работ по
			| строительству и вводу в эксплуатацию инженерных систем
			| для оптимального функционирорвания как желых,так и
			| офисных,промышленных зданий
		input(type="hidden" value="2")
	.b-slider-content.js-slider-content
		.b-slider-content__header Техническое обслуживание
		.b-slider-content__text
			| «Ин-Про» предлагает гибкуе схемы поддержания в работо-
			| способном состоянии всех сервисов и систем,позволяющие
			| существенно сократить эксплутационные расходы и
			| получить максимальную отдачу от инвестици в ИТ-сферу
		input(type="hidden" value="3")
	.b-slider-content.js-slider-content
		.b-slider-content__header Комплексные поставки
		.b-slider-content__text
			| Успешное взаимодействие с ведущими производителями
			| позволяет «Ин-Про» осуществлять поставки современного
			| инженерного и телекоммуникационного оборудования для
			| создания ИТ-инфраструктуры любого уровня сложности
		input(type="hidden" value="4")

.b-slider-navbar
	.b-slider-navbar__item.b-slider-navbar__item__selected.js-slider-nav
		input(type="hidden" value="1")
	.b-slider-navbar__item.js-slider-nav
		input(type="hidden" value="2")
	.b-slider-navbar__item.js-slider-nav
		input(type="hidden" value="3")
	.b-slider-navbar__item.js-slider-nav
		input(type="hidden" value="4")
.b-slider-controls
	.b-slider-controls__item.b-slider-controls__left.js-slider-controls__left
	.b-slider-controls__item.b-slider-controls__right.js-slider-controls__right
.b-contact-info
	.b-contact-info__tel
		a(href="tel:+78123131767") +7 812 313-17-67
	.b-contact-info__text Контактная информация
