.b-projects
	.b-projects__item
		.b-projects__item__leftSide
			.b-projects__item__image
				img(src="http://loremflickr.com/g/370/210/paris?random=1" alt="project image")
		.b-projects__item__rightSide
			.b-projects__item__header Lorem Ipsum is simply dummy text
			.b-projects__item__text
				| going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
				| embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
				| Internet tend to repeat predefined chunks as necessary, making this the first true
				| generator on the I evolved over the years, sometimes by accident, sometimes on purpose
				| (injected humour and the like).
			.b-projects__item__more подробнее
			.b-projects__item__review посмотреть отзыв

	.b-projects__item
		.b-projects__item__leftSide
			.b-projects__item__image
				img(src="http://loremflickr.com/g/370/210/paris?random=2" alt="project image")
		.b-projects__item__rightSide
			.b-projects__item__header There are many variations of passages of Lorem
			.b-projects__item__text
				| going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
				| embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
				| Internet tend to repeat predefined chunks as necessary, making this the first true
				| generator on the I evolved over the years, sometimes by accident, sometimes on purpose
				| (injected humour and the like).
				| evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
			.b-projects__item__more подробнее

	.b-projects__item
		.b-projects__item__leftSide
			.b-projects__item__image
				img(src="http://loremflickr.com/g/370/210/paris?random=3" alt="project image")
		.b-projects__item__rightSide
			.b-projects__item__header Contrary to popular belief, Lorem Ipsum is not simply random text. It has
			.b-projects__item__text
				| going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
				| embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
				| Internet tend to repeat predefined chunks as necessary, making this the first true
				| generator on the I evolved over the years, sometimes by accident, sometimes on purpose
				| (injected humour and the like).
			.b-projects__item__more подробнее

	.b-projects__plus
		i.fa.fa-plus
