extends ../layouts/default

block head
	- pageTitle = 'Ин-Про - интеграция проектов';
	- pageDescription = 'Ин-Про - интеграция проектов';
	- pageKeywords = 'Ин-Про';

block content
	include ../blocks/competence
