extends ../layouts/default

block head
	- pageTitle = 'Ин-Про - интеграция проектов';
	- pageDescription = 'Ин-Про - интеграция проектов';
	- pageKeywords = 'Ин-Про';

block header
	- setBG = true

block content
	include ../blocks/projects
