if !isHome
	.b-footer__wrapper
		.b-footer
			.b-footer__address
				.b-footer__address__text Санкт-Петербург,
				.b-footer__address__text Кондратьевский пр., д. 15, корп. 2, лит. 3
			.b-footer__contact
				.b-footer__contact__text
					a(href="tel:+7812313176") +7 812 313-17-6
				.b-footer__contact__text
					a(href="mailto:info@inn-pro.ru") info@inn-pro.ru
