head
	meta(charset='utf-8')
	// meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')

	block head
	title= pageTitle
	meta(name='description' content=pageDescription)
	meta(name='keywords' content=pageKeywords)

	link(href="assets/libs/fontawesome/css/font-awesome.min.css" rel="stylesheet" type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
	block headStyles
	link(href='assets/css/common.css' rel='stylesheet' type='text/css')

	script(src="assets/libs/jquery/dist/jquery.min.js" type="text/javascript")
