.b-header
	.b-header__item.b-header__logo
	ul.b-header__item.b-header__nav
		li.b-header__nav__item
			a(href="/about.html") Компания
		li.b-header__nav__item
			a(href="/clients.html") Заказчики
		li.b-header__nav__item
			a(href="/competence.html") Компетенции
		li.b-header__nav__item
			a(href="/projects.html") Реализованные Проекты
	.b-header__item.b-header__search
		i.fa.fa-search.js-search
